<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}
    {% block content %}
        {% if form.errors %}
            <p>Seu login e senha estão incorretos. Por favor tente novamente!</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">Entrar</button>
            <input type="hidden" name="next" value="{% url 'index' %}">
        </form>
    {% endblock content %}
</body>
</html>