<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}

    {%block content%}
        <p>tópico: {{ topic }}</p>
        <p>Anotações: </p>
        <p>
            <a href="{% url 'new_entry'  topic.id %}">
                Adicione uma nova anotação
            </a>
        </p>
        <ul>
            {% for entry in entries%}
                <li>
                    <p>{{ entry.date_added | date:'M d, Y H:i'}}</p>
                    <p>{{ entry.text | linebreaks }}</p>
                    <p>
                        <a href="{% url 'edit_entry' entry.id %}">
                            Editar anotação
                        </a>
                    </p>
                </li>
                {%empty%}
                <li>
                    Não há registro.
                </li>
            {% endfor %}
        </ul>
    {% endblock content %}
</body>
</html>